<domain type='kvm'>
  <name>{{ vm_name }}</name>

  <memory unit='MiB'>{{ vm_ram_mb }}</memory>
  <vcpu placement='static'>{{ vm_vcpus }}</vcpu>

  <os>
    <type arch='x86_64' machine='q35'>hvm</type>
    <loader readonly='yes' type='pflash'>/usr/share/OVMF/OVMF_CODE.fd</loader>
    <nvram>/var/lib/libvirt/qemu/nvram/{{ vm_name }}_VARS.fd</nvram>
    <boot dev='hd'/>
  </os>

  <cpu mode='host-passthrough' check='none' migratable='on'>
    <topology
      sockets='{{ vm_cpu_sockets }}'
      dies='{{ vm_cpu_dies }}'
      cores='{{ vm_cpu_cores }}'
      threads='{{ vm_cpu_threads }}'/>
  </cpu>

  <features>
    <acpi/>
    <apic/>
    <vmport state='off'/>
  </features>

  <devices>
    <!-- OS Disk -->
    <disk type='file' device='disk'>
      <driver name='qemu' type='qcow2'/>
      <source file='{{ vm_os_disk }}'/>
      <target dev='vda' bus='virtio'/>
    </disk>

    <!-- Game/Data Disk -->
    <disk type='file' device='disk'>
      <driver name='qemu' type='qcow2'/>
      <source file='{{ vm_game_disk }}'/>
      <target dev='vdb' bus='virtio'/>
    </disk>

    <!-- Install ISO -->
    <disk type='file' device='cdrom'>
      <source file='{{ vm_iso_path }}'/>
      <target dev='sda' bus='sata'/>
      <readonly/>
    </disk>

    <!-- Network -->
    <interface type='network'>
      <source network='default'/>
      <model type='virtio'/>
    </interface>

    <!-- No virtual graphics -->
    <video>
      <model type='none'/>
    </video>

  </devices>
</domain>
